@font-face {
  font-family: "pixelfont";
  src: url("../../static/boldpixels.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url("../../static/paper-texture.webp");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 12px;
}

header {
  font-size: 32px;
  font-weight: bolder;
  height: 36px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 20px 15px;
  max-width: 720px;
  width: 100%;
}

#tags {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 10px;
  user-select: none;

  & div {
    border: 2px solid grey;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;

    &.active {
      background-color: grey;
      color: aliceblue;
    }
  }
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  & article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
    border: 3px solid;

    &.Authers {
      border-color: #f9cbb899;
    }
    &.Levine {
      border-color: #cdf0cd99;
    }

    &:hover {
      transform: translateX(-10px);
    }

    & h1 {
      font-size: 18px;
    }
    & div {
      display: flex;
      justify-content: space-between;
      gap: 4px;

      & span {
        color: grey;
        font-size: 14px;
      }
    }
    & a {
      position: absolute;
      inset: 0;
    }
  }
}

#control {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;

  & button {
    border: 2px solid black;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
  }

  & span {
    color: grey;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 36px;
  color: gray;
  font-size: 12px;
}
